@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll: 0px;
}

.react-colorful__hue {
  border-radius: 0px !important;
}

.react-syntax-highlighter-code {
  background-color: transparent !important;
}

.react-syntax-highlighter-line-number {
  display: inline-block;
  width: 20px;
  user-select: none;
}

.react-syntax-highlighter-line-number::before {
  content: attr(data-rsh-line-number) !important;
}

.react-syntax-highlighter-code {
  display: inline-block;
  width: calc(100% - 20px);
  word-break: break-all;
}

.react-syntax-highlighter-line-number {
  display: inline-block;
  width: 20px;
  user-select: none;
}

.react-syntax-highlighter-line-number::before {
  content: attr(data-rsh-line-number) !important;
}

.react-syntax-highlighter-code {
  display: inline-block;
  width: calc(100% - 20px);
  word-wrap: break-word;
}

.react-syntax-highlighter {
  background-color: transparent !important;
}

.react-syntax-highlighter-code {
  word-wrap: break-word !important;
}

/*
.styled-bubble {
    background: linear-gradient(to bottom, #4492e5 0%, #007aff 90%, #0057ff 100%);
}

.container {
    z-index:-1;
    background:
        linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) calc(100% - (100vh - var(--scroll)) * (100 / var(--scroll))), rgba(0,0,0,1) calc(100% - (100vh - var(--scroll)) * (100 / var(--scroll))), rgba(0,0,0,1) 100%);
}*/